div.home {
  position: relative;
  height: 100%;
  width: 100%;
}

.Nav li {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.Nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(233, 235, 238);
}

fieldset.Head {
  width: '1500px';
  height: '150px';

}

.Head h3 {
  text-align: center;
  position: relative;
}

.Head input {
  position: absolute;
  top: center;
  right: 650px;
  width: 200px;
  height: 100px;
}

.Head button {
  position: absolute;
  top: center;
  right: 600px;
  width: 200px;
  height: 100px;
}

.Head a {

  left: 0px;
  top: 0px;
}

fieldset.ListPage {
  position: relative;
  margin: 1px;
  height: 5000px;
  width: 990px;
}

div.Other {
  position: absolute;
  top: 110px;
  right: 0;
  width: 500px;
  height: 120px;
}