div.home {
  position: relative;
  height: 100%;
  width: 100%;
}

.Nav li {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.Nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(252, 89, 8);
}

li.login {
  float: right;
}

li.register {
  float: right;
}

fieldset.Head {
  position: static;
  width: '1500px';
  height: '1000px';
}

.Head h3 {
  margin-top: 0;
  text-align: center;
  position: relative;
}

.Head input {
  position: absolute;
  margin-top: -12px;
  right: 650px;
  width: 200px;
  height: 12px;
}

.Head button {
  position: absolute;
  margin-top: -12px;
  right: 650px;
  width: 50px;
  height: 20px;
}


fieldset.ListPage {
  position: relative;
  padding: 2px;
  margin: 1px;
  height: 1000px;
  width: 100%;
}

/* div.Other {
  position: absolute;
  top: 110px;
  right: 0;
  width: 500px;
  height: 120px;
} */