div.home {
  position: relative;
  height: 100%;
  width: 100%;
}
li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #111;
}
.Nav li {
  float: left;
}

.Nav ul {
  list-style-type: none;
 
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li.login {
  float: right;
}

li.register {
  float: right;
}

fieldset.Head {
  position: static;
  width: '1500px';
  height: '1000px';
  
}

.Head h3 {
  margin-top: 0;
  text-align: center;
  position: relative;
}

.Head input {
  position: absolute;
  margin-top: -12px;
  right: 519px;
  width: 200px;
  height: 12px;
}

.Head button {
  position: absolute;
  text-align: center;
  margin-top: -10px;
  border-radius: 12px;
  transition-duration: 0.4s;
  right: 450px;
  width: 65px;
  height: 20px;
}


fieldset.ListPage {
  position: relative;
  padding: 2px;
  margin: 1px;
  height: 1000px;
  width: 100%;
}

/* div.Other {
  position: absolute;
  top: 110px;
  right: 0;
  width: 500px;
  height: 120px;
} */